@charset "UTF-8";
/*--COLOR DE FONDO DE PAGINA--*/
.fondo {
  background: whitesmoke;
}

@media (max-width: 600px) {
  .media {
    display: none;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

/*Menu_de_navegacion*/
#menu ul li {
  padding: 15px;
}

#navbarNavDropdown {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#menu li a {
  display: -ms-grid;
  display: grid;
  color: #ebe5e5;
  font-style: italic;
  font-weight: bolder;
  font-size: 150%;
  padding: 15px;
  text-decoration: none;
  font-style: inherit;
  font-weight: bolder;
}

#menu li a:hover {
  color: #0c0c0c;
}

/* COLOR VERDE DE ICONO WHASP*/
.redes:hover {
  color: #33e050;
}

.redes-insta:hover {
  color: #da2ab3;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_menu a:hover {
  background-color: #ebe5e5;
  border-radius: 10%;
  cursor: pointer;
  margin: 5px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.fondo_nav {
  height: 100px;
  background-color: #0c0c0c;
}

.fondo_negro {
  background-color: #0c0c0c;
}

.centrar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*----------------------------------*/
/*TAMAÑO DE IMAGENES*/
.imagen {
  background-color: #4c4b55;
  background-position: center;
  border-radius: 50px;
  height: 350px;
  width: 350px;
  margin: 30px;
  padding: 2px;
}

.imagen:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

/*CAMBIOS A CARD*/
.card {
  text-align: center;
  border: solid 0.5px;
}

.card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

/*POSICIONAMIENTO DE IMAGEN*/
.contenedor_imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 30px;
  padding: 10px;
}

/*---COLOR DE REDES EN CONTACTO ---*/
.verde {
  color: #33e050;
}

.rosa {
  color: #da2ab3;
}

@media (max-width: 1200px) {
  .medialuna {
    display: none;
  }
}

/*---CLASE ESPACIOS EN LA PAGINA ----*/
.cuerpo {
  height: 100px;
}

.cuerpo2 {
  height: 70px;
}

.cuerpo3 {
  height: 5px;
}

/*---CLASE PARA LISTA CON CHEBOX---*/
.cuadro {
  display: inline-block;
  height: 100%;
  list-style: none;
  text-align: left;
  padding-top: 50px;
  padding-left: 50px;
  vertical-align: top;
}

/*--- TABLA AYUDA---*/
.contenedor_tabla {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.tabla_uno {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.texto {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  font-family: "Lato", sans-serif;
  text-align: justify;
  font-size: x-large;
  height: 850px;
}

.parrafo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: justify;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: blanchedalmond;
}

.info {
  padding: 60px;
}

.contacto {
  text-align: center;
}

/***TITULO DE ACCONDION ***/
.titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-weight: 500;
  font-size: 40px;
  line-height: 80px;
  color: white;
}

/****PREGUNTAS DEL ACCORDION****/
.pregunta {
  background: rgba(0, 0, 0, 0.027);
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
}

/****RESPUESTAS DEL ACCORDION****/
.respuesta {
  color: #808080;
  line-height: 20px;
}

footer {
  background-color: #0c0c0c;
  color: #ebe5e5;
  border-radius: 5px;
  border-style: groove;
  text-align: center;
  margin: 0px;
  position: fixed;
  /* FOOTER AL FINAL DE PAGINA*/
  bottom: 0px;
  width: 100vw;
}

footer div {
  margin-top: 10px;
}
