/*******************************/
/***Inicio de reset de página***/
/*******************************/
html,
body {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}
/*****************************/
/** Fin de reset de página***/
/*****************************/
