$color-blanco: rgb(235, 229, 229);
$color-verde: rgb(51, 224, 80);
$color-negro: #0c0c0c;
$color-cremita: whitesmoke;

$color-pink: rgb(173, 37, 60);
$color-imagen_fondo: rgb(76, 75, 85);
$inicial: 0px;
$sizepx: 100px;
$sizeper: 100%;
