/*---CLASE PARA LISTA CON CHEBOX---*/
.cuadro {
  display: inline-block;
  height: $sizeper;
  list-style: none;
  text-align: left;
  padding-top: $sizepx / 2;
  padding-left: $sizepx / 2;
  vertical-align: top;
}

/*--- TABLA AYUDA---*/
.contenedor_tabla {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.tabla_uno {
  grid-column: 1;
  grid-row: 1;
}
