footer {
  background-color: $color-verde;
  color: $color-blanco;
  border-radius: $sizepx / 20;
  border-style: groove;
  text-align: center;
  margin: $inicial;
  position: fixed; /* FOOTER AL FINAL DE PAGINA*/
  bottom: $inicial;
  width: $sizeper;
}
