footer {
  background-color: $color-negro;
  color: $color-blanco;
  border-radius: $sizepx / 20;
  border-style: groove;
  text-align: center;
  margin: $inicial;
  position: fixed; /* FOOTER AL FINAL DE PAGINA*/
  bottom: $inicial;
  width: $sizeper;
  div {
    padding: $sizepx / 10;
    margin-top: $sizepx / 10;
    height: $sizepx / 2;
  }
}
