/*TAMAÑO DE IMAGENES*/

.imagen {
  background-color: $color-imagen_fondo;
  background-position: center;
  border-radius: $sizepx / 2;
  height: $sizepx * 3.5;
  width: $sizepx * 3.5;
  margin: $sizepx - 70;
  padding: $sizepx - 98;
}

.imagen:hover {
  transform: scale(1.1);
  transition: all 0.7s ease-in-out;
}

/*CAMBIOS A CARD*/

.card {
  text-align: center;
  border: solid 0.5px;
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.7s ease-in-out;
}

/*POSICIONAMIENTO DE IMAGEN*/

.contenedor_imagen {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 30px;
  padding: 10px;
}

/*---COLOR DE REDES EN CONTACTO ---*/

.verde {
  color: $color-verde;
}
.rosa {
  color: $color-pink;
}

@media (max-width: 1200px) {
  .medialuna {
    display: none;
  }
}
