/*TAMAÑO DE IMAGENES*/

.imagen {
  background-color: $color-imagen_fondo;
  background-position: center;
  border-radius: $sizepx / 2;
  height: $sizepx * 3.5;
  width: $sizepx * 3.5;
  margin: $sizepx - 70;

  padding: $sizepx - 98;
}

.imagen:hover {
  transform: scale(1.1);
  transition: all 0.7s ease-in-out;
}

/*POSICIONAMIENTO DE IMAGEN*/

.contenedor_imagen {
  display: inline-block;
  text-align: center;
}

/*--TAMAÑO DEL FORMULARIO--*/
.campo {
  height: $sizepx * 4.5;
  margin: $sizepx / 5;
  padding: $sizepx / 10;
  width: $sizepx;
}

fieldset {
  width: $sizepx * 4;
  height: $sizepx * 4;
}

/*--IMAGEN LUNA--*/

.contenedor_luna {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 1fr;
}
.one {
  grid-column: 1;
  grid-row: 1;
  border: 2px solid $color-negro;
}

.four {
  grid-column: 3;
  grid-row: 1;
  border: 2px solid $color-negro;
}

.two {
  grid-column: 1;
  grid-row: 1;
  border: 2px solid $color-negro;
}

/*---COLOR DE REDES EN CONTACTO ---*/

.verde {
  color: $color-verde;
}
.rosa {
  color: $color-pink;
}
