/*Menu_de_navegacion*/

#menu ul li {
  padding: $sizepx - 85;
}
#menu li a {
  display: grid;
  color: $color-blanco;
  font-style: italic;
  font-weight: bolder;
  font-size: $sizeper * 1.5;
  padding: $sizepx - 85;
  text-decoration: none;
  font-style: inherit;
  font-weight: bolder;
}

#menu li a:hover {
  color: $color-negro;
}

.nav_menu a:hover {
  background-color: $color-blanco;
  border-radius: $sizeper / 10;
  cursor: pointer;
  margin: $sizepx / 20;
  border-top-left-radius: $sizepx - 70;
  border-bottom-right-radius: $sizepx - 70;
}
.fondo_nav {
  height: $sizepx - 20;
  background-color: $color-negro;
}
.fondo_negro {
  background-color: $color-negro;
}

.centrar {
  display: flex;
  justify-content: center;
}
/*----------------------------------*/
